.container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px);
      opacity: 0;
    }
  }
  form {
    width: fit-content;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    input {
      height: 4vh;
      border: none;
      border-bottom: 1px solid #000000;
      background-color: transparent;

      &[type='submit'] {
        margin-top: 2vh;
        width: 7rem;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        background-color: #c56183;
        color: #fadcaa;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
