.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8efd4;
}

.slide-left-enter {
  opacity: 0;
}
.slide-left-enter-done {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.slide-left-exit {
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s both;
}
.slide-left-exit-active {
  // animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-right-appear {
  opacity: 0;
}
.slide-right-enter {
  opacity: 0;
}
.slide-right-enter-done {
  opacity: 1;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.slide-right-exit {
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s
    both;
}
.slide-right-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
